{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}

<div class="container my-5">
    <div>
    <h2 align="center">Loan Business Glossary Management App</h2>
    <br>
</div>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-6">
            <div class="card" style="height: 400px;">
                <br>
                <img src="{{ url_for('static', filename='images/view.svg') }}" class="card-img-top" alt="Card image 1" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title text-center">View Business Glossary</h5>
                    <div class="d-flex justify-content-end mt-auto">
                        <a href="/glossary" class="btn btn-dark">Go to Page</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6">
            <div class="card" style="height: 400px;">
                <br>
                <img src="{{ url_for('static', filename='images/upload.svg') }}" class="card-img-top" alt="Card image 2" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title text-center">Add Business Metadata</h5>
                    <div class="d-flex justify-content-end mt-auto">
                        <a href="/post-glossary" class="btn btn-dark">Go to Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
